// color
$color: #99a1a6;
$color-t: red #000 blue;

 // font
 $r: 'Roboto Regular',
 sans-serif;
 $r-b: 'Roboto Bold',
 sans-serif;
 $r-bl: 'Roboto Black',
 sans-serif;
 $r-m: 'Roboto Medium',
 sans-serif;
 $r-l: 'Roboto Light',sans-serif;
 $r-li: 'Roboto Light Italic',
 sans-serif;

 // responsiv 
$hd: 105em; // 1680px
$lg: 75em; // 1200px
$md: 62em; // 992px
$sm: 48em; // 768px
$xs: 36em; // 576px
